
/* ==================================================================== */
/* BASIC SETUP */
/* ==================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ==================================================================== */
/* REUSEABLE SECTION*/
/* ==================================================================== */

.box {
    padding: 1%;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}


h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #d8890b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ==================================================================== */
/* HEADER */
/* ==================================================================== */


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.459)), url(img/test.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*========PARAGRAPHS==========*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: justify;
}


/*========BUTTONS==========*/

.btn:hover,
.btn:active{
    background-color: #d8890b;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 220px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #f39c12;
    color: #fff;
    margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #f39c12;
    color: #f39c12;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #ac6e0afd;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #f39c12;
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #f39c12;
}

/* ======= ICONS ======= */
ion-icon {
    color: #d8890b;
    display: block;
    margin-bottom: 10px;
    font-size: 250%;
    --ionicon-stroke-width: 20px;
  }

  /*========= MEALS =======*/

  .section-meals {
      padding: 0;
  }

  .meals-showcase {
      list-style: none;
      width: 100%;
  }
  .meals-showcase li {
      display: block;
      float:left;
      width:25%;
      margin: 0;
      padding: 0;
  }
  .meal-photo {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: #000;
  }
  .meal-photo img {
      opacity: 0.7;
      width: 100%;
      height: auto;
      transform: scale(1.15);
      transition: transform 0.5s, opacity 0.5s;
  }

  .meal-photo img:hover {
      opacity: 1;
      transform: scale(1.03);
  }

  /* ==================================================================== */
/* HOW IT WORKS */
/* ==================================================================== =*/

.section-steps {
    background-color: rgba(230, 227, 227, 0.253);
}

.steps-box {
   
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 50px;

}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.work-steps div {
    color: #d8890b;
    border: 2px solid #d8890b;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: 160px;
    margin-right: 20px;
}

/* ==================================================================== */
/* CITIES*/
/* ==================================================================== =*/
.cphoto {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.city-feature {
    margin-bottom: 5px;
}

.city-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 100%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: 8px;
    margin-right: 5px;
}

.tweets {
    color: #f39c12;
}

/* ==================================================================== */
                        /* testimonials*/
/* ==================================================================== =*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.863)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2px;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top:-5px;
    left:-5px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

/* ==================================================================== */
                        /* Plans */
/* ======================================================================*/

.section-plans {
    background-color: rgba(241, 236, 236, 0.822);
}

.plan-box {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px rgb(247, 246, 246);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgba(241, 235, 235, 0.849);
}

.plan-price {
    font-size: 250%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #d8890b;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-price span {
    font-size: 40%;
    font-weight: 300;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 100%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: 8px;
    margin-right: 5px;

}

.plan-icon-cross {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 100%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: 8px;
    margin-right: 5px;
    color:rgb(250, 4, 4);
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div:first-child {
    background-color: rgba(218, 211, 211, 0.13);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* ==================================================================== */
                        /* Form */
/* ======================================================================*/


.contact-form {
    width: 60%;
    margin: 0 auto;
    font-family: 'Lato';
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
    font-family: 'Lato';
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

/* ==================================================================== */
                        /* Footer */
/* ======================================================================*/

footer {
    background-color: #333;
    padding: 30px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float:right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
}

footer p {
    margin-top: 10px;
    text-align: center;
    font-size: 90%;
    color: rgb(133, 129, 129);
}

footer p span {
    color: red;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    color: rgb(133, 129, 129);
    border: 0;
    font-size: 90%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: rgb(255, 255, 255);

}

.fb:hover {
    color: #3b5998;
}
.twitter:hover {
    color: #00aced;
}

.insta:hover {
    color: #517fa4;
}

.linkedin:hover {
    color: #007bb6;
}

.google:hover {
    color:#dd4b39;
}

.snap:hover {
    color: #fffc00;
}
.fb{
    color: rgb(133, 129, 129);
}
.twitter {
    color: rgb(133, 129, 129);
}

.insta {
    color: rgb(133, 129, 129);
}

.linkedin {
    color: rgb(133, 129, 129);
}

.google {
    color: rgb(133, 129, 129);
}

.snap {
    color: rgb(133, 129, 129);
}

.heart {
    display:inline-block;
    vertical-align: middle;
    margin-top: 7px;
    color: red;
}